@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: black;
    overflow-x: hidden;
    

}
html {
  scroll-behavior: smooth;
}


  /*  ---------------------- Nav Section start -------------------------- */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: right;
    z-index: 9999;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #148aff;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #148aff;
}
.form-top a {
    text-decoration: none;
    color: #000;
    border: 1px solid #148aff;
    border-radius: 10px;
    color: #148aff;

    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    width: 10rem;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    background-color: #151515;
    border: 2px solid;
    border-image:
        linear-gradient(#ff512f,
            #dd2476,
            #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
  }

@keyframes rotate {
    50% {
        border-image:
            linear-gradient(360deg,
                #ff512f,
                #dd2476,
                #1c64ff) 1;
    }
}
.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}
  /*  ---------------------- Nav Section End -------------------------- */


  /*  ---------------------- Home Section start -------------------------- */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(img/vr.jpg);
    background-position: center top;
	background-size:cover;
}
.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

  }
.centered video{
    width: 100%;
    transform: translate(0%,45%);
    height: 54%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.title{
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 80px;
    color: #fff;
    text-align: center;
    mix-blend-mode: multiply;
}


@media (min-width: 400px) {
    .title {
        font-size: 55px;
    }
    .home{
        background-size: cover;
        background-position: 15% 10%;
    }
    .centered{
        margin-top: -150px;
    }
} 
@media (min-width: 768px) {
    .title {
        font-size: 65px;
    }
    .centered{
        margin-top: -100px;
    }
}
@media (min-width: 992px) {
    .title {
        font-size: 65px;
    }
    .centered{
        margin-top: -100px;
    }
}
@media (min-width: 1200px) {
    .title {
        font-size: 85px;
    }
    .centered{
        margin-top: -120px;
    }
}



  /*  ---------------------- Home Section End -------------------------- */

  /*  ---------------------- section two start -------------------------- */
.sec-two {
    width: 100%;
    height: 100%;
  }
  .sec-two .container {
    display: flex;
  }
  .sec-two .container .left {
    width: 50%;
    height: 48rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec-two .container .left .media-container {
    padding: 0.5rem 0.9rem;
    box-shadow: 1rem;
    align-self: center;
  }
  .sec-two .container .right {
    width: 50%;
    justify-self: center;
    background-color: #f0f0f0;
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sec-two .container .right h1 {
    font-size: 3rem;
  }
  .sec-two .container .right p {
    padding-top: 1rem;
    width: 75%;
    align-content: center;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: .022em;
  }
  .sec-two .container .right .button {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
  }
  .sec-two .container .right .button-text {
    width: 100%;
    cursor: pointer;
    text-align: center;
  }
  .sec-two .container .right .button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    width: 15rem;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 50px;
    background-color: #148aff;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .sec-two .container .right .button a:hover {
    background-color: #fff;
    border: 2px solid #148aff;
    color: #148aff;
    transition: all 0.1s;
    cursor: pointer;
  }
  @media (max-width: 1300px) {
    .sec-two .container .left iframe {
      width: 30rem;
    }
  }
  @media (max-width: 1300px) {
    .sec-two .container .right h1 {
      font-size: 2.5rem;
    }
  }
  @media (max-width: 1000px) {
    .sec-two .container .left {
      width: 100%; 
      margin-top: -40px; 
    }
  }
  @media (max-width: 1000px) {
    .sec-two .container {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 1000px) {
    .sec-two .container .right {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 60px;
     
    }
  }
  @media (max-width: 400px) {
    .sec-two .container .left iframe {
      width: 20rem;
      height: 10rem;
    }
  }
  @media (max-width: 400px) {
    .sec-two .container .right h1 {
      font-size: 1.5rem;
    }
  }
  
  /*  ---------------------- section two end -------------------------- */


  /*  ---------------------- section three start -------------------------- */
  
  .sec-three {
    width: 100%;
    height: 100%;
  }
  .sec-three .container {
    display: flex;
  }
  .sec-three .container .left {
    width: 50%;
    justify-self: center;
    background-color: #f0f0f0;
    display: flex;
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vr-future{
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
  }
  .sec-three .container .left h2 {
    font-size: 3rem;
  }
  .sec-three .container .left p {
    padding-top: 1rem;
    width: 75%;
    align-content: center;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: .022em;
  }
  .sec-three .container .right {
    width: 50%;
    height: 55rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.sec-three .container .right .soldout-img {
    width: 100%;
    box-shadow: 1rem;
    align-self: center;
  }

@media (max-width: 400px) {
    .sec-three .container .left h2 {
      font-size: 1.5rem;
      padding-top: 2rem;
    }
  }

@media (max-width: 400px) {
    .sec-three .container .left p {
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
@media (max-width: 400px) {
    .sec-three .container .right .soldout-img {
      width: 15rem;
    }
  }
@media (max-width: 560px) {
    .sec-three {
      margin-bottom: 4rem;
    }
  }
@media (max-width: 1000px) {
    .sec-three .container {
      display: flex;
      flex-direction: column-reverse;
    }
  }

@media (max-width: 1000px) {
    .sec-three .container .right {
      width: 100%;
      height: 100%;
    }
  }
@media (max-width: 1000px) {
    .sec-three .container .left {
      width: 100%;
      height: 100%;
      padding-bottom: 60px;
    }
  }
@media (max-width: 1300px) {
    .sec-three .container .left h2 {
      font-size: 2.5rem;
    }
  }
 
@media (max-width: 1300px) {
    .sec-three .container .right .soldout-img {
      width: 30rem;
    }
  }

 /*  ---------------------- section three end -------------------------- */

 /*  ---------------------- scroll bar start -------------------------- */

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #f0f0f0;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(#0066cc, #e664e2);
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid black;
  }

/*  ---------------------- scroll bar end -------------------------- */

 /*  ---------------------- PDF section start -------------------------- */

  .PDF-content{
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 30px;
    padding-left: 30px;
    border-top: solid 2px #333;
    background: #F8F8F8;
    height: 60vh;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  @media (max-width: 1000px) {
    .PDF-content {
      margin-top: -40px;
    }
  }

  .quote{
    margin-top: -20px;
    font-size: 12px;
    color: #000;
  }
.PDF-content h3{
    font-size: 3.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: black;
}
.PDF-content .paragraph{
    max-width: 500px;
    margin: 10px auto;
    font-size: 17px;
    line-height: 28px;
    color: black;
    margin-bottom: 40px;
}
.PDF a {
    text-decoration: none;
    border: 1px solid #148aff;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 50px;
    height: 50px;
    border: 2px solid;
    border-image:
        linear-gradient(#ff512f,
            #dd2476,
            #1c64ff) 1;
    animation: rotate 2.5s ease-in infinite;
  }

@keyframes rotate {
    50% {
        border-image:
            linear-gradient(360deg,
                #ff512f,
                #dd2476,
                #1c64ff) 1;
    }
}

 /*  ---------------------- PDF section end -------------------------- */

  /*  ---------------------- Footer section start -------------------------- */

  footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
    overflow: hidden;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 40px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}
/*  ---------------------- Footer section end -------------------------- */

/*  ---------------------- Toggle Button start (Read more) -------------------------- */



#more{display: none;}
#more2{display: none;}
#more3{display: none;}
#more4{display: none;}
#more5{display: none;}

#toggle {
    display: none;
}
#toggle2 {
    display: none;
}
#toggle3 {
    display: none;
}
#toggle4 {
    display: none;
}
#toggle5 {
    display: none;
}

.button1, .button2, .button3,.button4,.button5 {
    display: inline-block;
    width: 90px;
    height: 35px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.button1::after, .button2::after,.button3::after,.button4::after,.button5::after{
    font-family: "FontAwesome";
    content: "\f067";
    /* Add in the image. You could also add an icon by the using the icon's unicode (sites like fontawesome.com provide this). */
    width: 40px;
    height: 40px;
    /* Making the icon slightly taller than the button container. */
    background-color: #ca6db0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -5px;
    /* Since the button has a height of 35px and the ::after has 40px, we offset the difference by pushing it up by 5px to center this element vertically. */
    left: 0;
    display: grid;
    /* Used for centering the icon image in the middle in conjunction with place content center. */
    place-content: center;
    line-height: 0;
    /*By default this will have a line height. This means that the image will not be perfectly centered by using the properties above. To make sure we can center this image in the middle, we make the line height 0. */
    transition: background-color 1s,
        transform 1s ease-in;
}

#toggle:checked+.button1::after,#toggle2:checked+.button2::after,#toggle3:checked+.button3::after,#toggle4:checked+.button4::after,#toggle5:checked+.button5::after  {
    font-family: "FontAwesome";
    content: "\f068";
    /* Switching the images when clicked. */
    background-color: #7b82db;
    transform: translateX(50px) rotate(360deg);
    /* Since the width of the button is 90px and the pseudo element is 40px we translate by a number that adds up to 90. So we translate to the right by 50px ( 40 + 50 = 90 width of the button). We also rotate this element by 360 degrees. */
}

/*  ---------------------- Toggle Button end (Read more) -------------------------- */
